
body{
    height:100%;
    overflow:hidden;
    width:100%;
    margin:0;
    white-space: nowrap;
     /*min-width:750px; toDoList :(*/
}

.inlineElem{

  display: inline-block;

}




#searchDiv{
  padding: 20px 10px 20px 10px;
  background: grey;


}

#patientListHeader{
  color: orange;
  margin:0 0 0 20%;
  background: slategrey;
  padding:10px;
  
  min-height:50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 690px;
}

#patientListHolder{

    margin:0 0 0 20%;
    min-width: 690px;
}

#patientListHeader p{
    margin: 5px 0 0 0;  
   
}

#patientListHeader input{
  width: 250px;
 
  margin-top:5px;
}

#patientListHeader button {
   
     margin-top:5px;

}

#addPatientDiv{
  display:none;
  font-size:medium;
}

#leftAddUserFormDiv label, #leftAddUserFormDiv  input, #leftAddUserFormDiv select {
    /* in order to define widths */
    display: inline-block;
}

.sameLabel, .sameLabelOptional{
    width: 23%;

    text-align: right;
     display:inline-block;
     vertical-align:top;
     color:steelBlue;
    white-space: normal;
}

.sameLabel:before{

    content: "*";
    font-size: small;
    color: red;
    padding-right: 2px;

}


#radioGenderM{
     margin: 0 0 10px 4%;
}

#nameField, #surnameField{
    width: 71%;
    margin: 0 0 10px 4%;
}

#addPatientDiv > div:first-child{
    padding: 10px 40px 10px 40px;
    background: #fff8f8;
    border: solid 1px black;

}


#monthSelectAge, #monthSelectFirst {
   width: 25%;
   margin: 0 0 10px 4%;
   font-size: smaller;
   
   font-weight:normal;
}


.yearSelect, .daySelect{
  
    margin: 0 0 0 2%;
}

.yearSelect{
    width: 10%;
   
}

.daySelect{
    width: 9%;
   
}

#leftAddUserFormDiv{

    vertical-align:top;
    border-right: solid 1px black;
    width:45%;
    padding-right:4%;
}

#rightAddUserFormDiv label{
    display:block;
    margin-bottom:5px;
   
}
#rightAddUserFormDiv{
 
 width:45%;
    padding-left:4%;
}


#rightAddUserFormDiv textarea{
  width:100%;

}

#addPatientBtn, #updatePatientBtn{
    width:100px;
    height: 30px;

}

#updatePatientBtn{
    background:red;

}

#messageP{

    margin: 5px 0 10px 15%; 
    color: #ea341e;
}


.patientDiv{
    background:#e8e0e0;
    padding: 10px;
    border-bottom: solid 2px grey
    
}

.patientDiv button{

    margin-right:5px;
}

.nsSpan{
  font-weight: bold;
  
}

.patientDiv span{
    margin-right: 20px;
}

.patientDiv a{
    margin-right:20px;
}

#sortSearch{
    margin:20px;
}


.patientSpan{
    font-size: small;

}




/*FOR STYLE VISITS*/

.sectionDiv {

    margin-left:20%;
    margin-bottom:20px;
    position:relative;
    min-width: 690px;
}

.sectionHeader{
    background: black;
    color: white;
    font-weight:bold;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    font-family: sans-serif;

}

#visitMonth{
   width: 100px;
   font-size: smaller;
   font-weight:normal;
}

#visitDay{
    width:30px;
   
}

#visitYear{
    width:60px;
}
    
.visitInputElement{
        margin:0 0 10px 15px;
        display:inline-block;

}


#clinician{
      width:250px;

}

#otherAttender{
      width:175px;
}

#visitFormDiv textarea{
      width:70%;
      margin: 0 0 10px 15px;

}

#nextReview{

  width: 30px;
  margin-right:10px;

}

.scamp:after{
  content: "(SCAMP)";
  font-size: small;
  


}

#addMedicationBtn{

    left: calc(23% + 15px);
    
    /* Firefox */
    left: -moz-calc(23% + 15px);
    /* WebKit */
    left: -webkit-calc(23% + 15px);
    /* Opera */
    left: -o-calc(23% + 15px);
    
    
    position:relative;


}


.symptomTable { border: none; border-collapse: collapse; width:100% }


.symptomTable th{
    padding:5px;
}

.symptomTable tr td:first-child{
    width:23%;

}

.symptomTable td{
  text-align:center; 
  vertical-align:middle;
  padding: 5px 0 5px 0;

}

.symptomTable thead tr{
  background: #a3a3a3;
}




.symptomTable .tableLable{
     width: 100%;

     text-align: right;
     display:inline-block;
     vertical-align:top;
     color:steelBlue;
}


#visitFormDiv .symptomTable .tableLable:before{
    content: "*";
    font-size: small;
    color: red;
    padding-right: 2px;


}

.symptomTable tbody tr:nth-child(odd) {
    background: #efebe5
}





.visitMessageDiv p{
    margin:5px 0 5px 0;
    color: red;

}




#visitFormDiv .mistakeFieldLabel.visitMessageDiv p:before{
       content: "- ";
    color: black;

}

.visitMessageDiv{
   
    background: whitesmoke;
     padding:10px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     width:80%;
     display:inline-block;
     min-height:50px;
     min-width: 690px;
}

.mistakeFieldLabel{
    background:wheat;
}


.backBtnDiv{
    width:20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display:inline-block;
    position: relative;
    height: 50px;
    vertical-align:top;
   
    
    background: #708090; 
   

}


#addVisitBtn{
     margin-left:20%;
     width:200px;
     height:100px;
    

}




/*VIEW VISITS*/


.page{
    margin-left:20%;
    border-bottom: solid 1px black;
    display:none;
    padding-top: 15px;
    min-width:690px;
}


.visitResColumn2{
     margin:0 0 10px 15px;
     display:inline-block;
     width:70%;

}



.activePage {
 
  
  
   text-decoration: none;
   
    background-color: steelblue;
    color:white;
   
}

#pageNumberDiv a:hover:not(.activePage):not(.disabledPaginationControl) {background-color: #ddd;}

#pageNumberDiv{
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    display: inline-block;
    margin: 5px 0 5px 0;
    float:right;
    cursor:pointer;
}

#pageNumberDiv a{
    border: solid 1px black;
    padding: 4px;

}


.disabledPaginationControl{
    cursor: text;
    color:#ccc6c6;
}

#visitListDiv .visitMessageDiv p{
    color:seagreen;
   
   
    margin-left:20px;
}



.backBtnDiv button{
    position: absolute;
    right: 0;
    bottom: 0;
}


/*transition*/


#patientSearchDiv, #visitFormDiv, #visitListDiv{
  
    display:inline-block;
    width:100%;
    vertical-align: top;
    font-size:initial;
}

#patientSearchDiv{
    transition-property:  margin-right, margin-left;
    transition-duration: 1s;
}

#visitFormDiv, #visitListDiv{
      display:none;
}







/*hader row*/

#headerDiv{
   background: #ece8da url(//code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_gloss-wave_100_ece8da_500x100.png) repeat-x scroll 50% 50%; 
  
   padding:15px;
   
   display: table;
   width:100%;
  
}

.imageButton, .imageButton:hover{
  
  background-size: 100%;
  background-origin: content-box;
  background-repeat: no-repeat;
  outline: none; 
  background-position: center; 
  background-color: transparent;
  border: 1px solid #dcdcdc;
  cursor: pointer;
}

#headerDiv button {

    vertical-align: middle;
}

#headerDiv .linksSection:not(:first-child) {
     float:right;
     margin-right:50px;

}
.linksSection{
 
   display: table-cell;
   vertical-align: middle;
   margin-left:20px;

}
#fitbitLink{
   background-image: url("//i.imgur.com/j5M5iEU.png");
   width:124px;
   height:33px;
  
   margin-right: 15px;
}

#geneactivLink{
   background-image: url("//i.imgur.com/yUw8oWw.png");
   width:172px;
   height:33px;
   margin-right: 15px;
}

#logout{
   background-image: url("//i.imgur.com/93DStFm.png");
   width:29px;
   height:33px;
}


html{
    height:100%;

}




#visitFormDiv, #visitListDiv, #patientSearchDiv{
    overflow-y:auto;
    height: -moz-calc(100% - 63px);
    height: -webkit-calc(100% - 63px);
    height: -o-calc(100% - 63px);
    height: calc(100% - 63px);
    overflow-x:auto;
   

}


#patientListHeader, #flexContainer{
    display: -ms-flexbox;/*ie 10*/
    display:flex;
    justify-content: space-between;

}

#flexContainer{
    width:100%;
}

.tooltip_content { display: none; }


#logout{

   
    text-align: center;
    line-height: 30px;
    font-family: sans-serif;
    cursor: pointer;
}

#logoutFrame{
   clear: both;
}

#logoutFrame button{
    float:right;
}

#logoutFrame p{
    font-size: medium;
    padding: 12px;
    margin: 0;
    background: #565656;
    color: white;
    font-weight: bold;
}

#logoutFrame button:hover {
    background: #198d98;
}

#logoutFrame button {
    float:right;
    background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    padding: 4px 20px;
    
    
    outline: none;

    border: none;
    font-family: inherit;
    font-size: inherit;
   
    -webkit-appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    margin: 4px;
}


.tooltipster-sidetip .tooltipster-content {
    padding:0;
}



.tooltipster-sidetip .tooltipster-box {
    background: white;
    border: 2px solid #000;
    border-radius: 4px;
}
